# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/

# PyInstaller build artifacts
build/

# IDE & OS files
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Runtime data & quarantined files
data/Deleted_Safe_Files/
data/Threat_Museum/
data/demo_samples/
data/*.db
